* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    background: linear-gradient(#F5E36D, orange);
    background-color: #F5E36D;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
    width: 96%;
    height: 96%;
    background-color: rgba(245, 245, 245, 0.342);
    border: solid 1px rgba(245, 245, 245, 1);
    border-radius: 16px;
}

.sidebar {
    margin: 1rem;
    background-color: #f0fd5f6b;
    grid-column: 1;
    grid-row: 1/3;
    border-radius: 16px;
    border: solid 1px rgba(245, 245, 245, 1);
}

.header {
    margin: 1rem;
    margin-left: 0;
    background-color: #f0fd5f6b;
    border-radius: 16px;
    border: solid 1px rgba(245, 245, 245, 1);
}

.content {
    margin: 1rem;
    margin-top: 0;
    margin-left: 0;
    background-color: #f0fd5f6b;
    border-radius: 16px;
    border: solid 1px rgba(245, 245, 245, 1);
}